<!--extends layout-->
doctype html
html
    head
        //link(rel="stylesheet", href="/public/styles.css")
        style 
            include ../public/styles.css
<!--block content-->
    body
        main
            span Task List
            table.table-auto.border
                tr.border
                    th.border Title
                    th.border Description
                    th.border Due Date
                    th.border Status
                    th Action
                each task in tasks
                    tr.border
                        td.border #{task.title} 
                        td.border #{task.description} 
                        td.border #{task.dueDate} 
                        td.border #{task.status}
                        td.border 
                            form(action=`/tasks/edit/${task._id}`, method='GET')
                                button(type='submit') Edit
                        td.border  
                            form(action=`/tasks/complete/${task._id}`, method='POST')
                                button(type='submit') Completed

                        td.border  
                            form(action=`/tasks/delete/${task._id}`, method='POST')
                                button(type='submit') Delete