extends layout

block content
    span Task List
    table.table-auto
        tr.border.border-black.bg-neutral-800
            th Title
            th.border.border-blue-900 Description
            th.border.border-black Due Date
            th.border.border-black Status
            th Action
        each task in tasks
            tr.bg-neutral-500
                td.border.border-black #{task.title} 
                td.border.border-black #{task.description} 
                td.border.border-black #{task.dueDate} 
                td.border.border-black #{task.status}
                td.border.border-black 
                    form(action=`/tasks/edit/${task._id}`, method='GET')
                        button(type='submit') Edit
                td.border.border-black  
                    form(action=`/tasks/complete/${task._id}`, method='POST')
                        button(type='submit') Completed

                td.border.border-black 
                    form(action=`/tasks/delete/${task._id}`, method='POST')
                        button(type='submit') Delete