extends layout

block content
    span.font-bold.text-xl Task List
    div.rounded-xl
        table.table-auto
            tr.bg-neutral-700.text-white
                th.px-2 Title
                th.px-2 Description
                th.px-2 Due Date
                th.px-2 Status
                th.px-2 Action
                th.px-2 Finish
                th.px-2 Remove
            each task in tasks
                tr.bg-neutral-400.font-semibold.border-b-2.border-black
                    td.border-r.border-black.px-2 #{task.title} 
                    td.border-r.border-black.px-2 #{task.description} 
                    td.border-r.border-black.px-2 #{task.dueDate} 
                    td.px-2 #{task.status}
                    td.px-2
                        form(action=`/tasks/edit/${task._id}`, method='GET')
                            button(type='submit' class="bg-green-600 text-white px-4 py-1 rounded-full cursor-pointer border border-blue-900 hover:bg-green-800") Edit
                    td.px-2
                        div
                            form(action=`/tasks/complete/${task._id}`, method='POST')
                                div
                                    button(type='submit' class="bg-green-600 text-white px-4 py-1 rounded-full cursor-pointer border border-blue-900 hover:bg-green-800") Completed


                    td.px-2
                        form(action=`/tasks/delete/${task._id}`, method='POST')
                            button(type='submit' class="bg-red-600 text-white px-4 py-1 rounded-full cursor-pointer border border-blue-900 hover:bg-red-800") Delete