extends layout

block content
  h2 Task List
  table
    tr
        th Title
        th Description
        th Due Date
        th Status
        th Action
        th Action
    each task in tasks
        tr
            td |#{task.title} 
            td |#{task.description} 
            td |#{task.dueDate} 
            td |#{task.status}
            td 
                form(action=`/tasks/edit/${task._id}`, method='GET')
                    button(type='submit') Edit
            td  
                form(action=`/tasks/delete/${task._id}`, method='POST')
                    button(type='submit') Delete